<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>About Us</title>
</head>

<body>
    <h1>{{title}}</h1>
    <img src="./images/mypic.jpg" style="height:200px;width:200px;border-radius:50%" alt="Rohit's pic" />
</body>

</html>